body{   
height: 100vh;
background:linear-gradient(to top left,  blue, purple, black,  blue,  white);
position: relative;
}
#myFirstButton{ background-color: blue;
    color:pink;
   font-family: "lucidaConsol" ;
   font-size: 30px;
   width: 150px;
   height: 40px;
   border: none;
   display: block;
   border-radius:30px;
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate (-50%, -50%);
}

#navbar {
    padding: 10px 0;
    text-align: center;
    border-radius: 30px;
}

#navbar a {
    color: #ff00007d;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-family: 'PT Serif', serif;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}

#navbar a:hover {
    color:  blue;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}

#entryBox{        
    width: 300px;
    height: 30px;
text-align: center;
display: block;
border-radius: 30px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#tryMe{ 
    background-color: rgb(236, 11, 11);
    color: Black;
    font-family: "lucidaConsol" ;
    font-size: 30px;
    width: 150px;
    height: 40px;
    border: none;
    display: block;
    border-radius:160px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate (-50%, -50%);
} 

#Ballon{ 
    width: 100px;
    height: 132px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
       
}

#Ballon:hover{ 
    cursor: pointer;
    transform: translate(-50%, -50%) scale(1.1);
    transition: all 0.3s ease-in-out;
    animation: bounce 0.5s infinite alternate;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
}